{{ 'section-our-gift-sets.css' | asset_url | stylesheet_tag }}

<section class="story-gift-section new-story-gift m-border">
  <div class="new-story-gift__dot"></div>
  <div class="story-gift-content">
    <div class="title-block">
      <h2 class="title">
        {{ section.settings.text }}
      </h2>
      <div class="gift-label">
        {{ section.settings.gift_label | img_url: 'master' | img_tag }}
      </div>
    </div>
    <div class="story-gift-content-info">
      {%- for product in section.settings.collection.products limit: 3 -%}
        <div class="story-gift-content-info-block ">
          <div class="img-block">
            <a href="{{ product.url }}"
              ><img
                src="{{ product.media.first.src | img_url: "master" }}"
                alt="{{ product.media.first.alt }}"
              ><img
                class="m-hover"
                src="{{ product.media[1].src | img_url: "master" }}"
                alt="{{ product.media[1].alt }}"
            ></a>
          </div>

          <div class="info-block">
            <a href="{{ product.url }}">
              <h3 class="info-block-title ">{{ product.title }}</h3>
            </a>
            <div class="info-block-rating">
              <i>
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                </svg></i
              ><i>
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                </svg></i
              ><i>
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                </svg></i
              ><i>
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                </svg></i
              ><i>
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                </svg>
              </i>
            </div>
            <div class="info-block-options">{{ product.metafields.custom.option }}</div>
            <p class="info-block-description">
              {{ product.description }}
            </p>
            <a href="{{ product.url }}" class="info-block-link">
              BUY NOW –

              {{ product.price | money }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="new-story-gift__dot m-bottom"></div>
</section>

{% schema %}
{
  "name": "t:sections.our-gift-sets.name",
  "tag": "section",
  "class": "shopify-section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.our-gift-sets.settings.collection.label"
    },
    {
      "type": "image_picker",
      "id": "gift_label",
      "label": "t:sections.our-gift-sets.settings.gift-label.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Sample Test</p>",
      "label": "t:sections.our-gift-sets.settings.title.label"
    }

  ],
  "presets": [
    {
      "name": "t:sections.our-gift-sets.presets.name"
    }
  ]
}
{% endschema %}
